@charset "UTF-8";

[vhannels="vhannels.floatContlos.FloatMessage"] {
    /* 固定定位的纵向弹性盒 */
    display: flex;
    flex-flow: column;
    position: fixed;
    transition: all 0.5s;
    /* 贴紧屏幕左下角，并左移 1rem 上移 2rem */
    left: 0;
    bottom: 0;
    height: auto;
    margin-left: 1rem;
    overflow: hidden;
    padding-bottom: 1.5rem;
}